{erl_opts, [no_debug_info]}.
{deps, [
    {jsx, {git, "https://github.com/talentdeficit/jsx.git", {tag, "v2.9.0"}}}
]}.

{escript_incl_apps, [parser, jsx]}.
{escript_main_app, parser}.
{escript_name, parser}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
